h1 {
    font-family: 'Amatic SC', cursive;
    color: #ffffff;
}

h4, p {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

ul li {
    color: #ffffff;
}

a {
    color: #f08080;
}

a:hover {
    color: #cd5b45;
}

/*header {*/
/*    height: 100vh;*/
/*}*/

#header-image {
    background-image: url("../media/images/coral_1600x800.png");
    height: 100vh;
    background-color: #0041a2; 
    background-position: center;
    background-size: cover;
}

.title-greeting-desktop {
    position: absolute;
    top: 65vh;
    left: 45vw;
}

.title-greeting-mobile {
    position: absolute;
    top: 40vh;
    left: 15vw;
}

.fish-animation {
    position: absolute;
    top: 50vh;
    animation: moveright 20s;
    animation-fill-mode: forwards;
}

@keyframes moveright {
    from {left: -10vw;}
    to {left: 80vw;}
}

main {
    background-color: #16104f;
}



/* Styling for cards under My Work*/

@media only screen and (max-width: 960px) { 
    .card-columns {
        column-count: 1;
    }
}

@media only screen and (min-width: 960px) { 
    .card-columns {
        column-count: 2;
    }
}

.card-title {
    color: #16104F;
}

.card-subtitle {
    color: #27A0C2;
}

.card-text {
    color: #000000;
}

.bg-card-blockquote {
    background-color: #27A0C2;
}


footer {
    background-color: #0041A2;
}